<!DOCTYPE html>
<html xmlns="http:/www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8"/>
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <!-- LIBS -->
        <script src="node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="assets/js/libs/jquery-2.1.1.min.js"></script>
        <script src="node_modules/angular/angular.min.js"></script>
        <!-- JS -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB6xxVP1bmTfzoFHz2w0kX7rYW_xKZPNA" async defer></script>
        <script src="build/app.bundle.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="build/default.css">
        <title>
            Instagram Analyzer
        </title>
    </head>
    <body data-ng-app="instaAnalyzeApp" data-ng-controller="mainController as main">
        <div id="outerContainer">
            <div id="leftGradient"></div>
            <div id="main">
                <p id="sizeIndicator"></p>
                <h1>
                    Instagram Analyzer
                </h1>
                <h6 style="text-align: right;">
                    Version {{main.version}}<br>
                    Made by <a href="http://www.martinsonesson.se" target="_blank">Martin Sonesson</a>
                </h6>

                <div class="paddingBottom" style="margin-top: 10px;">
                    <form>
                        <input id="searchInput" class="form-control" type="text" placeholder="Instagram username" data-ng-model="main.username" data-ng-disabled="main.loading"></input>
                        <button id="searchButton" class="form-control" data-ng-click="main.search()" data-ng-disabled="main.loading"><p style="margin: 0;">Search</p></button>
                    </form>
                    <span data-ng-show="main.noUserFound && !main.loading && main.searchHasBeenTriggered">No user found</span>
                </div>

                <div data-ng-show="!main.loading && !main.noUserFound">
                    <div class="row">
                        <h3 data-ng-show="main.userIsPrivate" style="padding-left: 15px; padding-right: 15px; color: #b31b10;">
                            This user has a private account, data can not be analyzed.
                        </h3>
                        <div id="column1">
                            <div class="paddingBottom">
                                <strong>User information</strong>
                            </div>
                            <a href="http://www.instagram.com/{{ main.username }}" target="_blank">
                                <img class="marginBottom profilePicture" data-ng-src="{{main.userInformation.profile_picture}}" />
                            </a>
                            <div data-ng-show="main.userInformation.full_name">
                                <strong>Full name:</strong><br>{{main.userInformation.full_name}}
                            </div>
                            <div data-ng-show="main.userInformation.bio">
                                <strong>Bio:</strong><br>{{main.userInformation.bio}}
                            </div>
                            <div data-ng-show="main.userInformation.website" style="word-wrap: break-word;">
                                <strong>Website:</strong><br><a target="_blank" href="{{main.userInformation.website}}">{{main.userInformation.website}}</a>
                            </div>
                        </div>
                        <div id="column2" data-ng-show="!main.userIsPrivate">
                            <div class="paddingBottom">
                                <strong>Media type distribution</strong>
                            </div>
                            <canvas data-ng-show="!main.userIsPrivate" id="imageVideoChart"></canvas>
                        </div>
                        <div id="column3">
                            <div class="paddingBottom">
                                <strong>Follows:</strong> {{main.userInformation.follows}}<br>
                                <strong>Followers:</strong> {{main.userInformation.followed_by}}<br>
                                <strong>Content count:</strong> {{main.userInformation.contentCount}}
                            </div>
                        </div>
                    </div>
                    <div class="row" data-ng-show="!main.userIsPrivate">
                        <div class="tableContainer paddingTop">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">
                                            <strong>Thumbnail</strong>
                                        </th>
                                        <th data-ng-click="main.currentSorting = 'likes'; main.sortReverse = !main.sortReverse;" class="clickable" data-ng-class="{'selectedSorting': main.currentSorting === 'likes'}">
                                            <span class="glyphicon glyphicon-heart" style="color: red;"></span>
                                        </th>
                                        <th data-ng-click="main.currentSorting = 'comments'; main.sortReverse = !main.sortReverse;" class="clickable" data-ng-class="{'selectedSorting': main.currentSorting === 'comments'}">
                                            <span class="glyphicon glyphicon-comment" style="color: yellow;"></span>
                                        </th>
                                        <th data-ng-click="main.currentSorting = 'timestamp'; main.sortReverse = !main.sortReverse;" class="clickable" data-ng-class="{'selectedSorting': main.currentSorting === 'timestamp'}">
                                            <strong>Date</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="image in main.imagedb | orderBy: main.currentSorting:main.sortReverse | limitTo: main.listLimit">
                                        <td style="padding: 20px;">
                                            <a href="{{image.link}}" target="_blank">
                                                <div style="background: url({{image.thumbnail}}); background-position: center center;" class="thumbnail">
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            {{image.likes}}
                                        </td>
                                        <td>
                                            {{image.comments}}
                                        </td>
                                        <td>
                                            {{image.timestamp | dateFilter}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="tableLinks">
                                <a href="" data-ng-click="main.showLess()" data-ng-show="!main.userIsPrivate && main.listLimit > 5">Show less</a>
                                <a href="" data-ng-click="main.showMore()" data-ng-show="!main.userIsPrivate && main.listLimit < main.imagedb.length">Show more</a>
                            </div>
                        </div>
                    </div>
                    <div class="row paddingTop" style="padding-left: 15px; padding-right: 15px;" data-ng-show="!main.userIsPrivate">
                        <strong>Total amount of tagged locations:</strong> {{main.postsWithLocationsAmount}}
                        <div id="map"></div>
                    </div>
                </div>

                <div class="loading" data-ng-show="main.loading">
                    <div class="loadingBar">
                        <p>{{main.progress}}%</p>
                        <div class="progressBar" style="width: {{ main.progress }}%;">
                        </div>
                    </div>
                </div>
            </div>
            <div id="rightGradient">
            </div>
        </div>
    </body>
</html>